body {
    font-family: "Sacremento", cursive;
}
.page-wrapper {
    background-image: url("../IMG/coffeebackground.avif");
    min-height: 100vh;
    background-size: cover;
    font-family: "Sacremento", cursive;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

input.add{
    background-color: #15864BFF;
}

#submit2:hover {
    background-color: #dfff00;
}
.shadow-text {
    text-shadow: #75703c 5px 0 10px;
}
.larger-text {
    font-size: 1.5rem;
}
.very-large-text {
    font-size: 4rem;
}
.img-cust {
    border-radius: 50%;
    border: 2px solid #FFF;
}
