body {
    font-family: "Sacremento", cursive;
    background-color: black;
}

html {
    background-color: black;
}

.page-wrapper {
    background-image: url("../IMG/coffeebackground.avif");
    min-height: 100vh;
    background-attachment: fixed;
    font-family: "Sacremento", cursive;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.shadow-text {
    text-shadow: #75703c 5px 0 10px;
}

.larger-text {
    font-size: 1.5rem;
}

.very-large-text {
    font-size: 4rem;
}

.img-custom {
    border-radius: 50%;
    border: 3px solid #75703c;
}

.border-custom {
    border-bottom: 2px solid #75703c;
}
